<div class="jumbotron text-center">
  <h1>¡Bienvenidos a mi aplicación!</h1>
  <p>
    <%= link_to "Iniciar sesión", new_user_session_path, class: "btn btn-default btn-lg" %>
    <%= link_to "Regístrate", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  </p>    
</div>